* {
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
  }
  
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }
  
  nav {
    font-family: 'Special Elite', cursive;
    color: #2d6a4f;
    font-weight: bold;
    transition: color .1s;
    font-size: 1.5rem;
  }
  
  .your-post-sec {
    margin-top: 3rem;
  }

  a {
    font-family: 'Special Elite', cursive;
    text-decoration: none;
    font-weight: bold;
    color: #2d6a4f;
    margin-left: 16px;
  }

  a:hover {
    color: #b7e4c7;
  }

  .clear {
    clear: both;
  }

  span {
    padding-top: 0.5rem;
  }

  button {
    background-color: #2d6a4f;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #d8f3dc;
    color: #2d6a4f;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    width: 50%;
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Sanchez', serif;
  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #2d6a4f;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    height: 7rem;
    background-color: white;
  }
  
  .header-title {
    font-size: 3rem;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #2d6a4f;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: #d8f3dc;
  }
  
  .delete-post-btn {
    background-color: #d8f3dc;
    color: #2d6a4f;
  }
  
  .delete-post-btn:hover {
    background-color: #2d6a4f;
    color: white;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
  }

  .card {
    border: 2px solid #2d6a4f;
  }

  .card-header {
    background-color: #2d6a4f;
    border-bottom: 2px solid #2d6a4f;
    color: #b7e4c7;
  }

  .card-title {
    font-size: 1.5rem;
    color: #b7e4c7;
    padding-top: 0.5rem;
  }
  
  .card-text {
    font-family: 'Sanchez', serif;
  }

  .edit-sec {
    margin-top: 3rem;
   }

  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #d8f3dc;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }

  .edit-post-form {
    margin-bottom: 5%;
  }
  
  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }